
  :root {
    --main-white: #f0f0f0;
    --main-red: #2a669e;
    --main-blue: #45567d;
    --main-gray: #303841;
  }
  
  /* Base reset */
  * {
    margin: 0;
    padding: 0;
  }
  
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  background-color: rgb(156, 210, 210);
   
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  
  /* Base styles */
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
    background-color: rgb(168, 237, 237);
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
  }
  
  .nav-list a:hover {
    background: var(--main-blue);
  }
  